<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Nura Elite</title>
</head>
<body>
    <div class="loaderArea">
        <div class="loaderArea-box">
            <div class="loader-box">
                <img class="loader-img" src="img/icon/icon.png" alt="">
            </div>
            <div class="loader">
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
            </div>
        </div>
     </div>

    <header class="header">
        <div class="container">
            <div class="header__top">
                <div class="logo animate__animated animate__bounceInDown">
                    <img class="logo__img" src="img/logo.svg" alt="#">
                </div>
                <div class="menu">
                    <div class="menu__contacts">
                        <a href="#">
                            <img class="menu__contacts-icon" src="img/icon/whatsapp.svg" alt="#">
                        </a>
                        <div class="menu__num-box">
                            <a href="tel:+77000011888">
                                <img class="menu__contacts-icon" src="img/icon/phone.svg" alt="#">
                            </a>
                            <a class="menu__num-link" href="tel:+77000011888">
                                +7 700 001 18 88
                            </a>
                        </div>
                    </div>
                    <nav class="nav">
                        <button class="nav__btn-box">
                            <div class="nav__btn">
                                <span></span>
                            </div>
                        </button>
                        <ul class="nav__list">
                            <li>
                                <a class="nav__link" href="#about">О проекте</a>
                            </li>
                            <li>
                                <a class="nav__link" href="#location">Локация</a>
                            </li>
                            <li>
                                <a class="nav__link" href="#advantage">Преимущества</a>
                            </li>
                            <li>
                                <a class="nav__link" href="#why">Почему мы?</a>
                            </li>
                            <li>
                                <a class="nav__link" href="#payment">Способы оплаты</a>
                            </li>
                            <li>
                                <a class="nav__link" href="#contacts">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header__content-box">
                <div class="header__content wow animate__animated animate__fadeInLeft">
                    <h2 class="header__title">
                        Элитный коттеджный городок в г. Нур-Султан
                    </h2>
                    <button class="header__btn">Скачать презентацию</button>
                    <h3 class="header__subtitle">36 коттеджей</h3>
                    <div class="header__info">
                        <div class="header__info-item">
                            <p class="header__headline">3</p>
                            <p class="header__text">
                                коттеджа 368 м2 
                                на 10 сотках
                            </p>
                        </div>
                        <div class="header__info-item">
                            <p class="header__headline">33</p>
                            <p class="header__text">
                                коттеджа 179 м2 
                                на 5 сотках
                            </p>
                        </div>
                    </div>
                </div>
                <div class="header__aside wow animate__animated animate__fadeInRight" data-wow-delay="1s">
                    <p class="header__aside-text">
                        <span>Строительные работы</span> начались в сентября 2021 года.
                    </p>
                    <p class="header__aside-text">
                        <span>Срок сдачи</span> коттеджей - I квартал 2022 года
                    </p>
                    <p class="header__aside-text">
                        <span>Срок сдачи</span> всего коттеджного городка - II квартал 2022 года
                    </p>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <section class="about" id="about">
                <div class="about__content wow animate__animated animate__fadeInLeft">
                    <h1 class="title about__title">О проекте</h1>
                    <div class="about__content-box">
                        <p class="text about__text--margin">
                            Элитный закрытый коттеджный городок в г. Нур-Султан состоящий из:
                        </p>
                        <h5 class="subtitle">36 коттеджей:</h5>
                        <p class="text">- 368 м2 на 10 сотках </p>
                        <p class="text">- 179 м2 на 5 сотках</p>
                    </div>
                    <div class="about__content-box">
                        <h5 class="subtitle">О компании</h5>
                        <p class="text">
                            “MM Group” Группа Строительных Компании – современная и динамично развивающаяся группа компаний, оказывающая широкий спектр услуг в стrроительном бизнесе от проектирования до сдачи объектов под ключ. Свою деятельность в строительном бизнесе начала осуществлять с 2013 года и прочно зарекомендовала себя надежной Казахстанской строительной компанией не только на территории Республики Казахстан, но и за рубежом. Учредителем и генеральным директором группы строительных компаний «MM Group» является - Мольдир Суюншали.
                        </p>
                    </div>
                    <div class="about__content-box">
                        <h5 class="subtitle">Миссия</h5>
                        <p class="text">
                            Приоритетом группы строительных компаний «MM Group» является профессиональный подход с применением инновационных решении в строительстве воздвигаемых объектов, опытный коллектив, качественные материалы и своевременность сдачи объектов с доступной возможностью приобретения не только жилья, но и других объектов недвижимости.
                        </p>
                    </div>
                </div>
                <div class="about__aside wow animate__animated animate__fadeInRight">
                    <div class="about__aside-box">
                        <img class="about__aside-img" src="img/about-img.jpg" alt="#">
                    </div>
                    <h5 class="subtitle">Цель</h5>
                    <p class="text">
                        Укрепление статуса компании, которая способна обеспечить потребителя доступной и качественной недвижимостью в срок. Развитие, надежность и качество!
                    </p>
                </div>
            </section>
        </div>
       <section class="houses">
            <div class="container">
                <div class="houses__slider">
                    <div class="houses__slider-item houses__slider-item--bg">
                        <h1 class="title houses__slider-title">Коттеджи</h1>
                        <img class="houses__slider-img" src="img/slider-img-1.jpg" alt="#">
                    </div>
                    <div class="houses__slider-item houses__slider-item--pd">
                        <h3 class="houses__slider-subtitle">179 м2</h3>
                        <img class="houses__slider-img" src="img/slider-img-2.jpg" alt="#">
                    </div>
                    <div class="houses__slider-item houses__slider-item--bg">
                        <h1 class="title houses__slider-title">Коттеджи</h1>
                        <img class="houses__slider-img" src="img/slider-img-1.jpg" alt="#">
                    </div>
                    <div class="houses__slider-item houses__slider-item--pd">
                        <h3 class="houses__slider-subtitle">179 м2</h3>
                        <img class="houses__slider-img" src="img/slider-img-2.jpg" alt="#">
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <section class="location" id="location">
                <div class="location__content wow animate__animated animate__fadeInLeft">
                    <h1 class="title location__title">Локация</h1>
                    <p class="text location__text">
                        Закрытый коттеджный городок Nura Elite расположен в элитном и перспективном районе столицы, рядом с зелёным поясом по соседству с Vella Village.
                    </p>
                    <p class="text location__text">
                        Nura Elite - это прекрасное пространство для уединения и активной семейной жизни в гармонии с природой, без городского шума с удобной транспортной развязкой.
                    </p>
                </div>
                <div class="location__img-box wow animate__animated animate__fadeInRight">
                    <img class="location__img" src="img/map.jpg" alt="#">
                </div>
            </section>
        </div>
        <section class="advantage" id="advantage">
            <div class="container">
                <div class="advantage__inner">
                    <h1 class="title">
                        Основные преимущества городка
                    </h1>
                    <div class="advantage__items">
                        <div class="advantage__item wow animate__animated animate__zoomIn">
                            <img src="img/icon/advantage_icon-1.svg" alt="#" class="advantage__icon">
                            <p class="advantage__text">
                                Выгодное
                                месторасположение
                            </p>
                        </div>
                        <div class="advantage__item wow animate__animated animate__zoomIn">
                            <img src="img/icon/advantage_icon-2.svg" alt="#" class="advantage__icon">
                            <p class="advantage__text">
                                Охраняемая территория
                            </p>
                        </div>
                        <div class="advantage__item wow animate__animated animate__zoomIn">
                            <img src="img/icon/advantage_icon-3.svg" alt="#" class="advantage__icon">
                            <p class="advantage__text">
                                Городок по периметру ограждён 
                                3-метровым забором, оснащён системой видеонаблюдения 24/7
                            </p>
                        </div>
                        <div class="advantage__item wow animate__animated animate__zoomIn">
                            <img src="img/icon/advantage_icon-4.svg" alt="#" class="advantage__icon">
                            <p class="advantage__text">
                                Здесь вы почувствуете уединенность, безопасность и комфорт
                            </p>
                        </div>
                    </div>
                    <img src="img/advantage-img.jpg" alt="#" class="advantage__img">
                    <div class="advantage__items">
                        <div class="advantage__item wow animate__animated animate__zoomIn">
                            <img src="img/icon/advantage_icon-5.svg" alt="#" class="advantage__icon">
                            <p class="advantage__text">
                                Индивидуальные участки ограждены 2-метровыми заборами
                            </p>
                        </div>
                        <div class="advantage__item wow animate__animated animate__zoomIn">
                            <img src="img/icon/advantage_icon-6.svg" alt="#" class="advantage__icon">
                            <p class="advantage__text">
                                Cобственное приложение
                            </p>
                        </div>
                        <div class="advantage__item advantage__item--grow wow animate__animated animate__zoomIn">
                            <img src="img/icon/advantage_icon-7.svg" alt="#" class="advantage__icon">
                            <p class="advantage__text">
                                Каждому владельцу коттеджа даётся возможность на своем земельном участке возводить дополнительные застройки: баню, сауну, летнюю кухню и др.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <section class="why" id="why">
                <h1 class="title why__title">Почему NURA ELITE?</h1>
                <div class="why__inner">
                    <div class="why__img-box wow animate__animated animate__fadeInLeft">
                        <img class="why__img" src="img/why-img.jpg" alt="#">
                    </div>
                    <div class="why__content">
                        <div class="why__content-item wow animate__animated animate__zoomIn">
                            <img class="why__content-img" src="img/icon/why_icon-1.svg" alt="#">
                            <div class="why__content-inner">
                                <h5 class="subtitle why__subtitle">
                                    Энергоэффектиность
                                </h5>
                                <p class="text why__text">
                                    Дома сохраняют тепло зимой и прохладу летом
                                </p>
                            </div>
                        </div>
                        <div class="why__content-item wow animate__animated animate__zoomIn">
                            <img class="why__content-img" src="img/icon/why_icon-2.svg" alt="#">
                            <div class="why__content-inner">
                                <h5 class="subtitle why__subtitle">
                                    Экологически чистый район
                                </h5>
                                <p class="text why__text">
                                    Городок расположен рядом с лесополосой и к. Нура-Есиль
                                </p>
                            </div>
                        </div>
                        <div class="why__content-item wow animate__animated animate__zoomIn">
                            <img class="why__content-img" src="img/icon/why_icon-3.svg" alt="#">
                            <div class="why__content-inner">
                                <h5 class="subtitle why__subtitle">
                                    Безопасность
                                </h5>
                                <p class="text why__text">
                                    Закрытый городок с круглосуточным видеонаблюдением
                                </p>
                            </div>
                        </div>
                        <div class="why__content-item wow animate__animated animate__zoomIn">
                            <img class="why__content-img" src="img/icon/why_icon-4.svg" alt="#">
                            <div class="why__content-inner">
                                <h5 class="subtitle why__subtitle">
                                    Коммуникации
                                </h5>
                                <p class="text why__text">
                                    Централизованное водоснабжение, энергоснабжение и канализация.
                                </p>
                                <p class="text why__text">
                                    Отопительная система и горячая вода - это один общий газгольдер на весь городок, функционирующий за счет газа.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="technology" id="technology">
                <h1 class="title technology__title wow animate__animated animate__fadeIn">Технология строения</h1>
                <div class="technology__inner">
                    <div class="technology__items">
                        <div class="technology__item wow animate__animated animate__zoomIn">
                            <img src="img/technology_img-1.png" alt="" class="technology__img">
                            <h5 class="subtitle technology__subtitle">
                                Конструкция стены
                            </h5>
                            <p class="text technology__text">
                                Двойная кладка из жжённого красного кирпича - 38/40 см, утепление минеральной плитой - 10 см., и облицовка HPL и ФБЦ панелью
                            </p>
                        </div>
                        <div class="technology__item wow animate__animated animate__zoomIn">
                            <img src="img/technology_img-2.png" alt="" class="technology__img">
                            <h5 class="subtitle technology__subtitle">
                                Конструкция двери
                            </h5>
                            <p class="text technology__text">
                                Технология IZO TERMO. 
                                Двери не соприкасаются с наружными. Между ними расположен изолятор - щит из португальского пробкового дуба толщиной в 8 мм. IZO TERMO устраняет “мостик холода” и не дает теплу уходить из дома. С этой технологией вам не нужен тамбур и вторая дверь.
                            </p>
                        </div>
                        <div class="technology__item wow animate__animated animate__zoomIn">
                            <img src="img/technology_img-3.png" alt="" class="technology__img">
                            <h5 class="subtitle technology__subtitle">
                                Конструкция Фасада
                            </h5>
                            <p class="text technology__text">
                                HPL панель - это высококачественная строительная продукция для долговечной облицовки фасада.
                                Стойкость на погодные воздействия +180 с/ -180с с высоким эффектом защиты от атмосферных воздействий.
                                Данная защита обеспечивается за счет применения акрилополиуретановых смол с двойным отверждением.
                                Относится к экологичным материалам.
                            </p>
                        </div>
                    </div>
                    <div class="technology__items technology__items--margin">
                        <div class="technology__item wow animate__animated animate__zoomIn">
                            <img src="img/technology_img-4.png" alt="" class="technology__img">
                            <h5 class="subtitle technology__subtitle">
                                Конструкция окна
                            </h5>
                            <p class="text technology__text">
                                Высокая экологичность, безопасность, надёжность и долговечность, усиленная теплоизолирующая способность, которая обеспечивается пятикамерным строением профиля с тройным остеклением и шумоизоляцией (система Helios рассчитана на стеклопакеты толщиной 44 мм с воздушной прослойкой в 16 мм, проходя через которые низкочастотные шумы теряют свою интенсивность, что очень ценят жители) по технологии FUNKE
                            </p>
                        </div>
                        <div class="technology__item wow animate__animated animate__zoomIn">
                            <img src="img/technology_img-5.png" alt="" class="technology__img">
                            <h5 class="subtitle technology__subtitle">
                                Конструкция кровли
                            </h5>
                            <p class="text technology__text">
                                Гибкая черепица ТЕХНОНИКОЛЬ SHINGLAS - это гарантия комфорта и безопасности вашего дома. Дома с кровлей из гибкой черепицы ТЕХНОНИКОЛЬ SHINGLAS очаровывают своей гармонией, изяществом. Коллекции отличаются разнообразием форм и расцветок.
                            </p>
                        </div>
                        <div class="technology__item wow animate__animated animate__zoomIn">
                            <img src="img/technology_img-6.png" alt="" class="technology__img">
                            <h5 class="subtitle technology__subtitle">
                                ФБЦ
                            </h5>
                            <p class="text technology__text">
                                ФБЦ - это уникальный и высококачественный строительный материал для долговечной облицовки фасада.
                                Высокая морозостойкость, пожаробезопасность, хорошая звуко- и теплоизоляция, герметичность, повышенная прочность, погодоустойчивость.
                                Безопасна как для человека, так и для окружающей среды. Они не содержат асбест, состоят из экологически чистых натуральных компонентов: 82-85% цемента, древесное волокно, добавки для снижения веса, кремнийорганические соединения
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="download wow animate__animated animate__fadeIn" data-wow-delay="0.5s">
                <h2 class="download__title">
                    Скачать презентацию
                </h2>
                <h5 class="download__subtitle">
                    Оставьте свои контакты и мы вам вышлем
                </h5>
                <form class="download__form" action="#">
                    <input class="download__form-input" type="text" placeholder="Ваше имя">
                    <input class="download__form-input download__form-input--icon" type="text" placeholder="Номер телефона">
                    <button class="download__form-btn" type="submit">Отправить</button>
                </form>
            </section>
            <section class="payment" id="payment">
                <h1 class="title payment__title wow animate__animated animate__fadeIn">Способы оплаты</h1>
                <div class="payment__img-box">
                    <div class="payment__img-item wow animate__animated animate__zoomIn">
                        <img class="payment__img" src="img/payment-1.png" alt="">
                        <p class="payment__text">
                            Получение займа через АО “ЖилСтройСберБанк”
                        </p>
                    </div>
                    <div class="payment__img-item wow animate__animated animate__zoomIn">
                        <img class="payment__img" src="img/payment-2.png" alt="">
                        <p class="payment__text">
                            Получение беспроцентной рассрочки от застройщика NURA ELITE
                        </p>
                    </div>
                    <div class="payment__img-item wow animate__animated animate__zoomIn">
                        <img class="payment__img" src="img/payment-3.png" alt="">
                        <p class="payment__text">
                            Казахстанская Ипотечная Компания «Орда»
                        </p>
                    </div>
                    <div class="payment__img-item wow animate__animated animate__zoomIn">
                        <img class="payment__img" src="img/payment-4.png" alt="">
                        <p class="payment__text">
                            Оплата криптовалютой (Биткоин)
                        </p>
                    </div>
                </div>
            </section>
            <section class="contacts" id="contacts">
                <div class="contacts__map wow animate__animated animate__fadeInLeft">
                    <div class="contacts__map-item">
                        <script type="text/javascript" charset="utf-8" async 
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aebaa08facb838477b15a17752aeba65295f349dcc9caac5fb4472322ae6f8678&amp;width=578&amp;height=428&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                    <div class="contacts__map-item--1146px">
                        <script type="text/javascript" charset="utf-8" async 
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aebaa08facb838477b15a17752aeba65295f349dcc9caac5fb4472322ae6f8678&amp;width=491&amp;height=364&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                    <div class="contacts__map-item--1024px">
                        <script type="text/javascript" charset="utf-8" async 
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aebaa08facb838477b15a17752aeba65295f349dcc9caac5fb4472322ae6f8678&amp;width=417&amp;height=310&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                    <div class="contacts__map-item--840px">
                        <script type="text/javascript" charset="utf-8" async 
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aebaa08facb838477b15a17752aeba65295f349dcc9caac5fb4472322ae6f8678&amp;width=334&amp;height=248&amp;lang=ru_RU&amp;scroll=true;"></script>
                    </div>
                </div>
                <div class="contacts__content wow animate__animated animate__fadeInRight">
                    <h1 class="title contacts__title">Контакты</h1>
                    <p class="text contacts__text">
                        ул. Кунаева 10, БЦ “Изумрудный”, блок - А, этаж 1
                    </p>
                    <div class="contacts__inner">
                        <div class="contacts__links">
                            <a class="contacts__link" href="tel:+77000011888">
                                +7 (700) 001-18-88
                            </a>
                            <a class="contacts__link" href="mailto:info@nuramm.kz">
                                info@nuramm.kz
                            </a>
                            <a class="contacts__link" href="https://instagram.com/nura.premier/">
                                @nura.premier
                            </a>
                        </div>
                        <img class="contacts__img" src="img/qr.jpg" alt="#">
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li>
                    <a class="footer__nav-link" href="#advantage">Преимущества</a>
                </li>
                <li>
                    <a class="footer__nav-link" href="#why">Почему мы?</a>
                </li>
                <li>
                    <a class="footer__nav-link" href="#technology">Технологии</a>
                </li>
                <li>
                    <a class="footer__nav-link" href="#payment">Способы оплаты</a>
                </li>
            </ul>
        </nav>
        <p class="text footer__copy">Copyright</p>
    </footer>



    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>