@font-face { 
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueCyrBlack.woff') format('woff'), url('../fonts/HelveticaNeueCyrBlack.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
